* {
  background-color: black;
}

header {
  display: flex;
  align-items: center;
  height: 69px;
  position: fixed;
  background-color: black;
  width: 100%;
}

header img {
  height: 50px;
}

nav {
  float: right;
  display: inline-block;
}

.container {

}

.boxes {

}
